


#math{
    padding: 100px;
    margin-top: 200px;
    margin-left: 480px;
    border: 150px;
    border-radius: 25px;
    background-color: indigo;
    width: 300px;
    color: blanchedalmond;
    text-align: center;
}